@rendermode InteractiveServer
@page "/"

<PageTitle>Home</PageTitle>


<h1>Biblioteca Online</h1>
<br />
 <p> A <b>biblioteca online</b> é um site de alocação de livros online. 
     Descubra universos inteiros por meio de cada livro lido</p>
<br />
<p>Faça login para acessar o sistema</p>
<hr style="color: blue"/>
<button class="btn btn-primary" @onclick="NavigateToLogin">Login</button>
<br />

@code{
    [Inject]
    private NavigationManager Navigation { get; set; } = default!;
    async private void NavigateToLogin()
    {
        Navigation.NavigateTo("/Login");
    }
}
