@rendermode InteractiveServer
@page "/"

<PageTitle>Home</PageTitle>


<h1>Biblioteca Online</h1>
<button class="btn btn-primary" @onclick="NavigateToLogin">Login</button>
<br />
<button class="btn btn-primary" @onclick="NavigateToCadastro">Cadastrar</button>

@code{
    [Inject]
    private NavigationManager Navigation { get; set; } = default!;
    async private void NavigateToLogin()
    {
        Navigation.NavigateTo("/Login");
    }
    async private void NavigateToCadastro()
    {
       Navigation.NavigateTo("/Cadastro");
    }
}
